<%= form_for @changeset, Routes.topic_path(@conn, :update), fn f -> %>
    <label>
        Title: <%= text_input f, :title %>
        <%= error_tag f, :title %>
        <%= submit "Save", class: "btn btn-primary" %>
    </label>
<% end %>