<h1>Página inicial de Tópicos</h1>



<div class="fixed-action-btn">
    <%= button( to: Routes.topic_path(@conn, :new), method: :get, class: "btn-floating btn-large waves-effect waves-light red") do %>
        <i class="material-icons">add</i>
    <% end %>
</div>